<!DOCTYPE html>
<html>
<head>
	<title>FiFi's Blog</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
	<%= stylesheet_link_tag "default.css" %>
  <%= stylesheet_link_tag "posts.css" %>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><%= image_tag "logo.png", class: "logo" %></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Posts <span class="sr-only">(current)</span></a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="login.html">Log in</a></li>
					
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">
    <div class="row">
      <div class="col-md-4 profile col-sm-12 col-xs-12">
        <div class="profile-centered">
          <div class="profile-content">
            <%= image_tag "cumeo.jpg", class: "img-circle profile-image" %>
            <h4>Pham Nhat Phi</h4>
            <p>Ruby Internship @NEOLAB</p>
            <hr class="hidden-sm hidden-xs">
            <p>Share this page:</p> 
            <ul class="clearfix">
             <li><%= image_tag "fb.png" ,alt:"facebook"%></li>
             <li><%= image_tag "is.png" ,alt:"istagram"%></li>
             <li><%= image_tag "tw.png" ,alt:"twitter"%></li>
           </ul>
         </div>
       </div>
     </div>
     <div class="col-md-8 ">
       <table style="width:100%">
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
            <td><%= image_tag post.image.url(:thumb) %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

    <%= link_to 'New Post', new_post_path, :class =>'btn btn-primary new_post' %>
  </div>
</div>
</body>
</html>